<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="SqlConnectionString" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
      <add key="MySqlConnectionString" value="SERVER=localhost;DATABASE=;UID=;PASSWORD=;SslMode=none;" />
    </appSettings>
</configuration>